@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-grey);
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  max-width: 84rem;
}

.main {
  background-color: var(--white);
  border-radius: 24px 24px 100px 24px;
  padding: 4.8rem 2.4rem;
}

.form {
  border-bottom: 1px solid var(--light-grey);
  position: relative;
  margin-bottom: 6.35rem;
}

.form-controls {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
}

.form-control {
  width: calc((100% - 3.2rem) / 3);
}

.form-control > * {
  width: 100%;
}

.form-control > label {
  font-weight: 700;
  color: var(--smokey-grey);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.4rem;
  letter-spacing: 0.25rem;
  transition: color 0.2s ease-in-out;
}

.form-control > input[type='number']::-webkit-outer-spin-button,
.form-control > input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control > input[type='number'] {
  appearance: textfield;
}

.form-control > input {
  padding: 1.1rem 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  font-size: 2rem;
  font-weight: 700;
  color: var(--off-black);
  caret-color: var(--purple);
  transition: border-color 0.2s ease-in-out;
}

.form-control > input:focus {
  outline: none;
  border-color: var(--purple);
}

.form-control > input::placeholder {
  text-transform: uppercase;
  color: var(--off-black);
  opacity: 0.5;
}

.form-control.invalid > label {
  color: var(--light-red);
}

.form-control.invalid > input {
  border-color: var(--light-red);
}

.btn {
  appearance: none;
  border: none;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--off-black);
}

.btn > img {
  width: 2.4rem;
  height: 2.4rem;
}

.results {
  font-size: 5.6rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}

.years > span,
.months > span,
.days > span {
  color: var(--purple);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.error {
  margin-top: 0.4rem;
  color: var(--light-red);
  font-style: italic;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 888px) {
  .main {
    border-bottom-right-radius: 200px;
    padding: 5.6rem;
  }

  .form {
    margin-bottom: 4.75rem;
  }

  .form-controls {
    gap: 3.2rem;
    margin-bottom: 4.75rem;
  }

  .form-control {
    width: calc((100% - 9.6rem) / 4);
  }

  .form-control > input {
    font-size: 3.2rem;
  }

  .form-control > label,
  .error {
    font-size: 1.4rem;
  }

  .form-control > label {
    margin-bottom: 0.8rem;
  }

  .error {
    margin-top: 0.8rem;
  }

  .btn {
    width: 9.6rem;
    height: 9.6rem;
    left: initial;
    right: 0;
    transform: translateX(0) translateY(50%);
  }

  .btn > img {
    width: 4.4rem;
    height: 4.4rem;
  }

  .results {
    font-size: 10.4rem;
  }
}
